locale: 'fr'

backend:
  name: git-gateway
  branch: master
  identity_url: https://lycee-sud-medoc-web-radio.netlify.app/.netlify/identity
  gateway_url: https://lycee-sud-medoc-web-radio.netlify.app/.netlify/git/gateway

media_folder: "public/files"
public_folder: "/files"

collections:
  - name: "blog"
    label: "Articles"
    folder: "src/content/blog"
    create: true
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    extension: "md"
    preview_styles:
      - /src/styles/global.css

    fields:
      - { label: "Mise en page", name: "layout", widget: "hidden", default: "webradio_post" } # Mise à jour du default
      - { label: "Titre de l'émission", name: "title", widget: "string", required: true }
      - { label: "Date de diffusion", name: "date", widget: "date", date_format: "DD/MM/YYYY", format: "YYYY-MM-DD" }
      - { label: "Auteur/Intervenant(e)s", name: "author", widget: "string", required: false, hint: "Ex: Cécile Mouezagrolla ou Équipe du Lycée" }
      
      # Nouveau champ crucial pour la Webradio
      - label: "Fichier Audio (.mp3)"
        name: "audio_file"
        widget: "file"
        required: true
        allow_multiple: false
        choose_url: false
        media_library:
          allow_multiple: false
          
      - { label: "Note (optionnel)", name: "rating", widget: "number", min: 1, max: 5, step: 0.5, required: false } # Maintenu, mais rendu optionnel
      - { label: "Corps de l'article/Description", name: "body", widget: "markdown" }
